<div style="height: 100vh">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-4">
        <div>
          <h3>Add a new cocktail</h3>
          <%= render 'form', cocktail: @cocktail %>
          <br>
          <%= link_to root_path do %>
          <p style="text-align: right"><i class="fas fa-undo"></i>   Cancel</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
