// Specific CSS for your home-page
body {
  font-family: 'Lato', sans-serif;
  background: rgba(120,0,28, 0.1);
}

.banner {
  margin-top: 0px;
  background-image: url("https://res.cloudinary.com/savina/image/upload/v1586244713/mister_cocktail/bar_qhjaf4.jpg");
  background-repeat: no-repeat;
  height: 570px;
  background-size: cover;
  margin-bottom: 48px;

  h1 {
    margin: 0px;
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  h1, h3 {
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 1px rgba(0,0,0, 0.6);
  }

  .header-div {
    margin-top: 120px;
    margin-bottom: 24px;
  }

}
  .show-button {
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    text-align: center;
    // background: #5e1d16;
    background: #78001C;
    color: white;
    transition: 0.3s;

    &:hover {
      background: #681c13;
      box-shadow: 1px 1px rgba(0,0,0,0.3);
      color: white;
    }
  }

.card-img {
  width: 400px;
}

.card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.img-rounded-borders {
  border-radius: 8px 8px 0px 0px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background: white;

  p {
    margin: 0px;
  }
}
