.show-img {
  height: 400px;
  border-radius: 4px;
}

h1 {
  font-size: 48px;
  color: black;
  text-shadow: rgba(0,0,0,0.2);
  text-align: center;
}

a {
  color: #af7793;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    color: #a55c91;
  }
}

.dose-btn {
  text-align: center;
  border: 3px solid #af7793;
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
}

.danger-button {
  color: red;
  border: 2px solid red;
}

h4, h5 {
  text-align: center;
}
